{% assign done = false %}
{% assign entry = false %}

{% for chapter in include.menu %}
    {% for page in chapter.pages %}
        {% unless done != false %}
        {% if include.url == page.url %}
            {% assign entry = page %}
            {% assign done = true %}
        {% endif %}
        {% endunless %}
    {% endfor %}
{% endfor %}

{% if entry and entry.items %}
    {% if include.dropdown %}
    <a href="#" class="btn btn-light btn-sm btn-toc" onclick="toggleDropdown('dropdown-toc')"><i
            class="fas fa-list-ul"></i></a>
    <div class="dropdown-toc shadow" id="dropdown-toc">
        {% include versions.html id="dropdown-versions-secondary" versions=include.project.versions prefix=include.project.url %}
        <div class="chapter">On this page</div>
        {% include anchor-list.html items=entry.items %}
    </div>
    {% else %}
    {% include versions.html id="dropdown-versions-primary" versions=include.project.versions prefix=include.project.url %}
    <div class="chapter">On this page</div>
    {% include anchor-list.html items=entry.items id=include.id %}
    {% endif %}
{% endif %}