html, body {
    height: 100%;
}

#back-to-top {
    position: fixed;
    display: none;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    z-index: 100;
}

.link-anchor {
    visibility: hidden;
    font-size: 0.75em;
}

*:hover > .link-anchor {
    visibility: visible;
}

.chapter {
    padding-bottom: 0.25rem;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    display: inline-block;
    min-width: 200px;
}

.nav + .chapter {
    margin-top: 1rem;
}

.nav-link.active {
    font-weight: bold;
}
.nav-link.active:before{
    content: "✓";
    display: block;
    float: left;
    width: 1em;
    margin-left: -1em;
}

code:not([class]) {
    background-color: #f0f0f0;
    padding: 3px 5px;
    border-radius: 2px;
    color: #7542eb;
    white-space: nowrap;
    font-size: 0.8em;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    margin-top: 2.5rem;
}

.main-content h1 {
    margin: 1rem 0;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.main-content h4 {
    margin-top: 2rem;
    font-weight: 400;
}

ul.page-menu, ul.page-menu ul {
    list-style: none;
    padding: 0;
}

ul.page-menu ul {
    padding-left: 2rem;
}

ul.page-menu li:before {
    content: "#";
    display: inline-block;
    color: var(--gray);
    width: 1rem;
}

/* Hidden */
@media (max-width: 575px) {
    .hidden-xs {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .hidden-sm {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-md {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-lg {
        display: none;
    }
}

@media (min-width: 1200px) {
    .hidden-xl {
        display: none;
    }
}